<%- include("../partials/Header", {title: "EDIT: " + data.name + " | LinkTree"}) %>

<div class="grid grid-cols-1 md:grid-cols-3 h-screen overflow-hidden relative">
    <form id="edit-form" method="POST" class="w-full md:col-span-1 p-4 md:p-8 overflow-y-auto h-1/2 md:h-full absolute top-full md:!top-0 transition-all z-10 md:relative bg-white">
        <div class="flex justify-between items-center">
            <h1 class="text-3xl font-bold mb-6 text-gray-800">Edit Page</h1>
            <button id="submit-btn" type="submit" class="inline-flex justify-center py-3 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition-colors duration-200">
                Save Changes
            </button>
        </div>
        <div class="space-y-6">
            <%- include("../partials/EditForm", { data: data }) %>
            <%- include("../partials/EditLinks", { data: data }) %>
        </div>
    </form>
    <button id="toggle-edit-form" class="md:hidden fixed transition-all mb-4 bottom-0 right-4 z-50 px-4 py-2 bg-indigo-600 text-white rounded-lg shadow-lg">
        Edit
    </button>
    <%- include("../partials/Preview") %>
</div>

<%- include("../partials/AdminScripts") %>

</body>
</html>